html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.4;
}

@media (max-width: 38rem) {
  html {
    font-size: 16px;
  }
}


body {
  margin: 0;
  padding: 0;
}


img {
  width: 100%;
  max-width: 100%;
  height: auto;
}


.container {
  width: 95%; /* oder eine Angabe in Pixel (Bsp: 600px)  */
  max-width: 38rem;
  margin: 0 auto;
}


p {
  color: #050505;
  font-weight: 400;
  font-size: 1;
}


h1 {
  color: gray;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2;
}


h2 {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.2;
}



ul {
  padding-left: 2rem;
  list-style: none;
}

li::before {
    content: "– ";
    width: 2rem;
    margin-left: -2rem;
    display: inline-block;
}
